/* reset css */
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
hgroup,
menu,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu {
  display: block;
}
/* every element is a border-box */
* {
  box-sizing: border-box;
}
html,
body {
  background-color: lightcyan;
  height: 98%;
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
body#layout {
  box-shadow: 0.1rem 0.4rem 0.3rem 0.4rem rgba(81, 134, 155, 0.747);
}
body#layout .container {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: center;
}
body#layout #con {
  height: 100%;
  border: 1.5rem ridge rgba(55, 51, 56, 0.6);
  width: 100%;
}
h1 {
  font-family: "Roboto";
  color: black;
  font-weight: 700;
  font-size: 4rem;
}
button {
  margin: 0.4rem;
  padding: 0.2rem;
}
header button a {
  text-decoration: none;
}
section {
  height: 100%;
}
section form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
section form input {
  padding: 0.3rem;
  margin: 0.5rem;
}
section footer {
  display: flex;
  flex-shrink: 0;
}
section footer#low-container {
  margin-top: 30%;
}
section footer#low-sign-container {
  margin-top: 15%;
}
footer button a {
  text-decoration: none;
}
