/* reset css */
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
hgroup,
menu,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu {
  display: block;
}
/* every element is a border-box */
* {
  box-sizing: border-box;
}
html {
  background-color: lightcyan;
  height: 1000%;
  width: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
body#layout {
  box-shadow: 0.1rem 0.4rem 0.3rem 0.4rem rgba(81, 134, 155, 0.747);
}
body#layout .container {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  align-items: center;
}
body#layout #con {
  height: 100%;
  border: 1.5rem ridge rgba(55, 51, 56, 0.6);
  width: 100%;
}
section {
  width: auto;
  height: 100%;
}
section form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
section form input {
  height: 100%;
  padding: 0.3rem;
  margin: 0.5rem;
}
section.index-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 6rem;
  width: 94%;
  height: 100%;
}
section.index-content div.crd {
  flex-wrap: wrap;
  box-sizing: border-box;
}
section#about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
section#about-content p {
  width: 45%;
  height: 100%;
  font-size: 1.8rem;
  padding: 0.3rem;
  margin: 0.5rem;
}
h1 {
  height: 100%;
  font-family: "Roboto";
  color: black;
  font-weight: 700;
  font-size: 4rem;
}
button {
  margin: 0.4rem;
  padding: 0.2rem;
}
a,
link::after {
  color: blue;
  text-decoration: none;
}
hr {
  height: 100%;
  width: 100%;
}
div.crd {
  display: flex-inline;
  position: relative;
  height: 100%;
  width: auto;
  flex-wrap: wrap;
  box-sizing: border-box;
}
div.crd p#crd-desc {
  display: inline;
  box-sizing: border-box;
  overflow-y: scroll;
  max-width: 100%;
  max-height: 100%;
}
header button a {
  text-decoration: none;
}
.secStyle .crd {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#high-container {
  margin-bottom: 1rem;
}
.index-content {
  margin-top: 1rem;
  border-radius: 10%;
  border: 1px solid black;
  width: 22%;
  height: 100%;
  box-shadow: 10px -10px #6b6a6a;
}
.index-content .crd {
  border-radius: 10%;
  background-color: rgba(243, 237, 237, 0.953344);
}
#create-content {
  margin-top: 1rem;
  border-radius: 10%;
  border: 1px solid black;
  width: 22%;
  height: 100%;
  box-shadow: 10px -10px #6b6a6a;
}
#create-content .crd {
  border-radius: 10%;
  background-color: rgba(243, 237, 237, 0.953344);
}
.crd {
  box-shadow: 10px -10px #CCC;
  padding: 0.1rem;
  margin: 0.1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
}
.crd p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.crd p input {
  border-radius: 10%;
  border-bottom-right-radius: 10% ;
  padding: 0.6rem;
  margin: 0.4rem;
  width: 90%;
  height: 100%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
.crd p textarea {
  padding: 0.1rem;
  margin: 0.2rem;
  width: 100%;
  height: 100%;
}
.crd-desc {
  line-height: 1.5;
  border: 1px solid black;
  margin: 0.4em;
  padding: 0.4em;
  width: 80%;
  height: 20em;
}
section footer {
  display: flex;
  flex-shrink: 0;
}
section footer#low-container {
  margin-top: 30%;
}
section footer#low-about-container {
  margin-top: 22%;
}
section footer#low-sign-container {
  margin-top: 15%;
}
section footer#low-contact-container {
  margin-top: 10%;
}
footer button a {
  text-decoration: none;
}
