html,body {
    background-color: lightcyan;
    height:98%;
    width:auto;
    font-family: 'Roboto', sans-serif;
    font-size:62.5%;
}

body#layout{
    box-shadow: .1rem .4rem .3rem .4rem  rgba(81, 134, 155, 0.747);
    
    .container{
        display: flex;
        //flex-wrap: wrap;
        flex-direction: column;
        justify-items: space-evenly;
        align-items: center;
        
    }
    #con{
        height:100%;
        //box-shadow;
        border: 1.5rem ridge rgba(55, 51, 56, 0.6);
        //box-shadow: .8rem 1.6rem .8rem 1.5rem  rgba(81, 134, 155, 0.747);
        width:100%;
        
    }

}

section{
    height:100%;
    
    form{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        input{
            height:100%;
            padding:.3rem;
            margin:.5rem;
        }
       
    }
}

section#about-content{
    
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        p{
            width:45%;
            height:100%;
            font-size: 1.8rem;
            padding:.3rem;
            margin:.5rem;
        }
       
    }



h1{
    height:100%;
    font-family: "Roboto";
    color: black;
    font-weight: 700;
    font-size: 4rem;
}
button{
    margin:.4rem;
    padding:.2rem;
}
a,link::after{
    color:blue;
    text-decoration: none;
}

hr{
    height:100%;
    width:100%;
}